.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* 87.5% (14px) de 16px (valor padrão). já altera tudo baseado no REM 8 */
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
